[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
arrow = "*"
aiofiles = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.9"
